/* You can add global styles to this file, and also import other style files */

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
}

.quiet-div {
    padding: 0px;
}

button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* new, edit, todo */
.content-box {
    border-style: solid;
    border-width: medium;
    background-color: #EEE;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
    left: 33%;
    right: 33%;
    max-width: 33%;
}

/* router links */
a {
    text-decoration: none;
    color: black;
}

.disabled {
    background-color: grey;
}




