<form (ngSubmit)="onButtonClicked()">
        <div>
            <label for="name">
                Name:
            </label>
            <input id="name" name="name" type="text" [(ngModel)]="name" />
        </div>
        <div>
            <div id="description-label">
                <label for="description">
                    Description:
                </label>
            </div>
            <textarea id="description" name="description" type="text" maxlength="100" [(ngModel)]="description" ></textarea>
        </div>
        <div>
            <label for="due">
                Due:
            </label>
            <input id="due" name="due" type="date" [(ngModel)]="due" />
        </div>
        <button type="submit">{{buttonText}}</button>
</form>