
.app-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-inline: 10vw;
}

.app-layout{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media screen and (width <= 600px){
    .app-wrapper {
        flex-direction: column;
        margin-inline: 0rem;
    }
}

