#banner {
    text-align: center;
    background-color: burlywood;
    border-style: solid;
    border-radius: 25px;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-inline: 10vw;
}

#inner-banner {
    border-style: solid;
    border-width: medium;
    background-color: #EEE;
    border-radius: 25px;
    position: relative;
    margin: 25px;
}

p {
    font-size: 200%;
    padding: 2rem;
}