.notes-container {
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    background-color: burlywood;
    position: relative;
    float: left;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.notes-container.inner {
    background-color: #EEE;
    border-radius: 8px;
    padding: 16px;
    margin: 0px;
}

.note {
    width: 40rem;
    height: 30rem;
}

button {
    margin-top: 1rem;
}