div {
    padding: 8px;
}

#description-label{
    display: block;
    float: left;
    left: 0;
    padding: 0;
    padding-right: 4px;
}

input, textarea {
    border: 2px solid black;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
}

