<div class="lampi-container">
    <div class="lampi-inner-container">

        <button id="lampi-button" (click)="onButtonClicked()">Turn on Lampi</button>
        <button id="lampi-button" (click)="offButtonClicked()">Turn off Lampi</button>
        <button id="lampi-button" (click)="presetsButtonClicked()">Get presets</button>

        <ng-container *ngIf="!isShow" >
            <div>
                <table>
                    <thead>
                        <tr>
                            <ng-container *ngFor="let header of tableHeaders">
                                <th>{{header}}</th>
                            </ng-container>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let track of tracks" (click)="presetTracksClicked(track)" [class.active]="track.id === activeRow">
                            <td>{{track.intensity}}</td>
                            <td>{{track.pattern}}</td>
                            <td>{{track.colour}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
<div>