<div class="lampi-container">
    <div class="lampi-container inner">

        <table id="structure-table">
            <tr>
                <td><button (click)="onButtonClicked()">Turn on Lampi</button></td>
                <td><button (click)="offButtonClicked()">Turn off Lampi</button></td>
                <td><button (click)="presetsButtonClicked()">Get presets</button></td>
            </tr>
            <ng-container *ngIf="!isShow" >
                <tr> <!-- custom track row -->
                    <td colspan="3">
                        <div id="lampi-submit">
                            <form [formGroup]="customTrackForm" (ngSubmit)="customTrackSelectionClicked($event)">
                                <input id="intensity"
                                    formControlName="intensity"
                                    type="number"
                                    [(ngModel)]="intensity"
                                    required
                                    placeholder="1"
                                    step="0.1"
                                    min="0.3"
                                    max="1"
                                />
                                <select id="pattern" formControlName="pattern" [(ngModel)]="pattern" required>
                                    <option *ngFor="let pattern of patterns" [value]="pattern.name">
                                        {{pattern.name}}
                                    </option>
                                </select>
                                <input formControlName="colour"
                                    [(colorPicker)]="colour"
                                    [style.background]="colour"
                                    [cpOutputFormat]="'rgba'"
                                    [cpOKButton]="true"
                                    [cpAlphaChannel]="'disabled'"
                                    [(ngModel)]="colour"
                                    required
                                />
                                <ng-container *ngIf="pattern == 'banner'">
                                    <input formControlName="colourTwo"
                                        [(colorPicker)]="colourTwo"
                                        [style.background]="colourTwo"
                                        [cpOutputFormat]="'rgba'"
                                        [cpOKButton]="true"
                                        [cpAlphaChannel]="'disabled'"
                                        [(ngModel)]="colourTwo"
                                    />
                                </ng-container>

                                <button
                                    class="lampi-container.inner.submit-button" type="submit"
                                    [class.disabled]="(pattern == 'banner')? (!intensity || !pattern || !colour || !colourTwo):(!intensity || !pattern || !colour)"
                                    [disabled]="(pattern == 'banner')? (!intensity || !pattern || !colour || !colourTwo):(!intensity || !pattern || !colour)">
                                    turn on
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr> <!-- preset track row -->
                    <td colspan="3">
                        <table>
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let header of tableHeaders">
                                        <th>{{header}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let track of tracks" (click)="presetTracksClicked(track)" [class.active]="track.id === activeRow">
                                    <td>{{track.intensity}}</td>
                                    <td>{{track.pattern}}</td>
                                    <td>{{track.colour}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
<div>