.todos-container {
    border-radius: 25px;
    border-style: dotted;
    border-width: thin;
    background-color: burlywood;
    position: relative;
    max-width: 500px;
    float: right;
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.todo-content-box {
    border-style: solid;
    border-width: medium;
    background-color: #EEE;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 9px;
}

.buttons-container > button {
    margin-left: 8px;
}

#button-delete{
    padding:9px
}