<div class="todos-container">
    <div class="todo-content-box" *ngFor="let todo of todos">
        <a routerLink="/todo-edit/{{todo.id}}">
            <p id="todo-title">{{todo.name}}</p>
            <p>{{todo.description}}</p>
            <p>{{todo.due}}</p>
        </a>
        <div class="buttons-container">
            <button id="button-delete" (click)="onDeleteClicked(todo.id)">Delete</button>
        </div>
    </div>
    <a routerLink="/todo-new">
        <button>New Todo</button>
    </a>
</div>
