div {
    padding: 8px;
}

.todos-container {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    
    max-width: 90vw;

    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    
    padding: 30px;
}

.todo-content-box {
    border-style: solid;
    border-width: medium;
    background-color: #EEE;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

p {
    width: 90%;
}
